<!DDOTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
</head>
<body>
  <div class="chat-container"></div>

  <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "http://localhost:5005",
      title: "rasa test",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "안녕하세요, 저는 당신이 어떤 사람인지 알려줄 마스터봇입니다. 자, 이제 당신에 대해 알아봅시다. 시작을 입력해주세요!",
      speechRecognition: "en-US",
      <!-- voiceLang: "en-US"-->
    });
    chatroom.openChat();
  </script>
</body>
